<ng-sidebar-container style="height: 100vh">

  <!-- A sidebar -->
  <ng-sidebar closeOnClickOutside='true' [mode]="'push'" [(opened)]="_opened">
    <!-- aqui va el contenido de lo que esta dentro del sidebar-->
    <aside class="mt-2 ml-3">
      <a class="navbar-brand text-warning">App-Fire</a>
    </aside>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/']" routerLinkActive="router-link-active">Home <i
            class="fa fa-home right"></i></a>
      </li>
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/users']" routerLinkActive="router-link-active">Usuarios <i
          class="fa fa-users"></i></a>
      </li>
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/products']"
          routerLinkActive="router-link-active">Productos <i
          class="fa fa-shopping-cart"></i></a>
      </li>
      <li class="list-group-item">
        <a class="nav-link text-secondary" [routerLink]="['/login']" routerLinkActive="router-link-active">Login <i
          class="fa fa-sign-in"></i></a>
      </li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <!--aqui va el contenido de la pagina sin el sidebar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <button class="btn btn-outline-warning btn-sm" (click)="_toggleSidebar()">Menu
        <i class="fa fa-bars" *ngIf="!_opened"></i>
        <i class="fa fa-times-circle" *ngIf="_opened"></i>
      </button>

        <a class="btn-sm btn-light ml-auto" *ngIf="logued" (click)="logout()">
            Salir
            <i class="fa fa-sign-out nav-icon"></i>
        </a>
        <a class="btn-sm btn-light ml-auto" *ngIf="!logued" (click)="signIn()">
            Acceder
            <i class="fa fa-sign-in nav-icon"></i>
        </a>

    </nav>
    <div class="container mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</ng-sidebar-container>
